<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <meta name="description" content={{htmlWebpackPlugin.options.description}} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Combo&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="wrapper">
      <nav class="nav__container--uber">
        <div class="nav__container--uber-inner">
          <div id="nav-heading" class="nav__container--heading">
          </div>
          <a
            id="saved"
            class="saved__container--uber"
            href={{htmlWebpackPlugin.options.savedRoute}}
          >
            <span class="visibility-hidden">Saved page</span>
          </a>
        </div>
      </nav>
    </header>
    <main>
      <dialog class="photo-dialog__container--uber" id="photo-dialog">
        <button
          class="photo-dialog__btn--close"
          aria-label="Close dialog"
          id="photo-dialog-close"
        >
          <svg class="" width="25px" height="25px">
            <use href="/assets/close.svg#close" />
          </svg>
        </button>
        <div class="photo-dialog__container--img" id="photo-dialog-container"></div>
      </dialog>
      <section id="photos_container" class="photos__container--uber wrapper">
      </section>
      <section
        id="pagination_buttons"
        class="pagination-buttons__container--uber wrapper"
      ></section>
    </main>
  </body>
</html>
