<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {{! handlebars variable }}
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="{{htmlWebpackPlugin.options.description}}"
    />
  </head>
  <body>
    <h1>{{htmlWebpackPlugin.options.description}}</h1>
  </body>
</html>
