<!DOCTYPE html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <meta name="description" content={{htmlWebpackPlugin.options.description}} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Combo&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="wrapper">
      <nav class="nav__container--uber">
        <div class="nav__container--uber-inner">
           <div id="nav-heading" class="nav__container--heading">
          </div>
          <div id="saved_link"></div>
        </div>
        <a href="/">back</a>
      </nav>
    </header>
     <footer class="footer__container--uber wrapper">
      <div class="footer__container--inner">

        <p class="footer__text--spacer">Dan O'Connor</p>
        <p class="footer__text--spacer">
          Front-End Engineer
        </p>

        <a
          href="http://www.linkedin.com/in/danocoder"
          target="_blank"
          rel="noopener noreferrer"
        >
          <span class="visually-hidden">Connect with me on LinkedIn</span><img
            class="footer__img--logo"
            src="/assets/linkedin.png"
            alt=""
          /></a>
        <span class="footer__text--spacer"></span>
        <a
          href="https://github.com/danOcoder?tab=repositories"
          target="_blank"
          rel="noopener noreferrer"
        ><span class="visually-hidden"> View my projects on Github</span><img
            class="footer__img--logo"
            src="/assets/github.png"
            alt=""
          /></a>
      </div>

      <p class="footer__text--copyright">© 2023 (jk you can totally copy this)</p>
    </footer>
  </body>
    <script>
    console.info(`👋 Thanks for checking out my code! I'm always trying to learn so please create a PR if you have any suggestions or improvements!`);
  </script>
</html>
