.container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.svg__heart {
  fill: var(--white);
}

.svg__heart--active {
  fill: var(--rose);
}
